[submodule ".vim/pack/myplugins/start/vim-sensible"]
  path = .vim/pack/myplugins/start/vim-sensible
  url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/myplugins/start/tabular"]
  path = .vim/pack/myplugins/start/tabular
  url = git@github.com:godlygeek/tabular.git
[submodule ".vim/pack/myplugins/opt/fugitive"]
  path = .vim/pack/myplugins/opt/fugitive
  url = git@github.com:tpope/vim-fugitive.git
