/*
 * Change the colorscheme for every menu simply by editing this file...
 *
 * Available Color Schemes
 *
 * bluish    berry    nordic    nightly    gotham    mask    faded    cocoa
 *
 */

* {
  /* tokyonight night */
  accent:           #27a1b9;
  background-alt:   #292e42;
  background-light: #292e42;
  background:       #1a1b26;
  foreground:       #C0CAF5;
  off:              #F7768E;
  selected:         #27a1b9;
  urgent:           #F7768E;
}
