@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: System San Francisco Display;
  font-size: 13pt;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  border: solid 1px @background;
  opacity: .7;
}

/* `.visible` is on both outputs but `.focused` overwrites it */
#workspaces button.visible {
  border: solid 1px @foreground;
}

#workspaces button.focused {
  border: solid 1px @accent;
  opacity: 1;
}
#workspaces button.focused label {
  color: @accent;
}

#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#mpris,
#custom-omarchy,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}
